* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0 5%;
}

.header {
  background-image: url("./assets/images/header-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 791px;
}

.header-bg {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 5%;
}

.header-navbar__list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.header-navbar__list a {
  color: #fff;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
}

.header-navbar__list a:hover {
  color: #f79489;
}

.header-navbar__btn {
  background: #f79489;
  padding: 7px 20px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #f79489;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-top: 120px;
}

.header-content h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

.header-content p {
  color: #fff;
  font-size: 18px;
  line-height: 200%;
}

.header-content input {
  border-radius: 30px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.5);
  width: 300px;
  padding: 8px 20px;
  color: #fff;
  outline: none;
}

.header-content input::placeholder {
  color: #fff;
}

/* WHY CHOOSING US SECTION */
.why-choosing-us {
  margin: 80px 0;
}

.why-choosing-us h2 {
  color: #564e4e;
  font-size: 36px;
  font-weight: 500;
  line-height: 200%;
  margin-bottom: 16px;
}

.why-choosing-us-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.why-choosing-us-contentitem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
  border-radius: 10px;
  border: 1px solid #fff;
  background: transparent;
  box-shadow: none;
  padding: 30px;
  transition: all 0.15s ease-in-out;
}

.why-choosing-us-contentitem:hover {
  border: 1px solid #fadcd9;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
}

.why-choosing-us-contentitem h4 {
  color: #564e4e;
  font-size: 18px;
  font-weight: 500;
}

.why-choosing-us-contentitem p {
  color: #564e4e;
  font-size: 18px;
}

/* Visualize your ideas with us */

/* first part */
.visualize-ideas1 {
  margin: 150px 0;
}

.visualize-ideas1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #564e4e;
}

.visualize-ideas-content1 h2 {
  color: #564e4e;
  font-size: 35px;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.visualize-ideas-content1 p {
  padding-left: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-left: 80px;
}

.visualize-ideas-content1 img {
  width: 900px;
  height: 600px;
  padding-right: 65px;
}

/* second part */

.visualize-ideas2 {
  margin: 150px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #564e4e;
}

.visualize-ideas-content2 h2 {
  color: #564e4e;
  font-size: 35px;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.visualize-ideas-content2 img {
  width: 800px;
  height: 600px;
  border-radius: 12px;
}

.visualize-ideas-content2 p {
  padding-left: 30px;
  padding-right: 30px;
  gap: 35px;
}

.item2 {
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin-left: 60px;
}

/* Our servies */

.our-services {
  margin: 100px 0;
  background: linear-gradient(280deg, #fff 0%, #faf5f2 100%);
  height: 500px;
}

.our-services h2 {
  text-align: center;
  color: #564e4e;
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 30px;
}

.our-services-contains {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
}

.our-services-contains-item {
  margin-top: 50px;
  width: 30%;
}

.our-services-contains-item h4 {
  color: #564e4e;
  font-size: 22px;
  font-weight: 500;
}

.our-services-contains-item p {
  color: #564e4e;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  padding-top: 30px;
}

.our-services-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.our-services-contains-item-worker {
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 15px;
}

.our-services-contains-item-worker img {
  border-radius: 35px;
}

/* PRODUCTS */

.product-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-box span img {
  max-height: 300px;
  height: 100%;
  object-fit: contain;
  margin-top: 0.5rem;
  cursor: pointer;
}

.product-box span img:hover {
  scale: 1.05;
}

.product-box h4 {
  width: 100%;
  font-weight: 300;
  color: #666;
}

.product-box p {
  width: 100%;
  color: #326f1d;
  font-size: 18px;
}

.sticky-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 5%;
  background: #656463;
  position: sticky;
  top: 0;
  z-index: 2;
}

/* FOOTER */
.footer {
  height: 500px;
  background: linear-gradient(276deg, #000 0%, #4b4b4b 100%);
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.footer-content-item img {
  width: 150px;
}

.footer-content-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-content-item h3 {
  color: #fadcd9;
  font-size: 24px;
  font-weight: 500;
}

.footer-content-item-list {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  gap: 15px;
}

.footer-content-item-list li {
  cursor: pointer;
}

.footer-sublink {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  color: #fadcd9;
  font-size: 15px;
}

/* SIGN IN */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 490px;
  width: 100%;
  margin: auto;
}

.form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: #63636333 0 2px 8px;
  padding: 40px 30px;
  border-radius: 8px;
}

.form-content h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #2d373c;
}

.form-content input {
  width: 100%;
  font-size: 0.897rem;
  line-height: 1.45;
  color: #6e6b7b;
  padding: 0.371rem 0;
  text-indent: 11px;
  background-color: #fff;
  border: 1px solid #d8d6de;
  border-radius: 8px;
  outline: none;
}

.form-btn {
  background: #f79489;
  outline: none;
  padding: 6.5px 0;
  color: #fff;
  font-size: 0.897rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.form-sign-up-section {
  align-items: center;
  display: flex;
  font-size: 15px;
  gap: 5px;
}

/* ABOUT US */
.about-us-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 100px 5%;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-us-content h1 {
  color: #564e4e;
  font-size: 36px;
  font-weight: 500;
}

.about-us-content p {
  color: #564e4e;
  font-size: 18px;
}

/* CONTACT PAGE */

.contact-input-container {
  display: flex;
  gap: 3rem;
}

.contact-input-container input {
  width: 50%;
  font-size: 0.897rem;
  line-height: 1.45;
  color: #6e6b7b;
  padding: 0.371rem 0;
  text-indent: 11px;
  background-color: #fff;
  border: 1px solid #d8d6de;
  border-radius: 8px;
  outline: none;
}

.contact-textarea {
  width: 100%;
  font-size: 0.897rem;
  line-height: 1.45;
  color: rgb(110, 107, 123);
  padding: 0.371rem 0px;
  text-indent: 11px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(216, 214, 222);
  border-radius: 8px;
  outline: none;
  resize: none;
  margin-top: 1rem;
}

.contact-btn {
  background: #f79489;
  outline: none;
  padding: 6.5px 13px;
  color: #fff;
  font-size: 0.897rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  width: fit-content;
  margin: 1rem 0 0 auto;
}


/* Responsive */
@media screen and (max-width: 1285px) {
  .visualize-ideas1 {
    flex-direction: column;
  }

  .visualize-ideas-content1 p {
    padding-left: 0;
  }

  .visualize-ideas-content1 img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    margin: auto;
    padding: 0 5%;
  }

  .item {
    margin-left: 0;
    padding: 0 5%;
  }

  .visualize-ideas2 {
    flex-direction: column;
  }

  .visualize-ideas-content2 img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    margin: auto;
  }

  .item2 {
    margin-left: 0;
    padding: 0 5%;
  }

  .visualize-ideas-content2 p {
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  .why-choosing-us-content {
    flex-direction: column;
  }

  .why-choosing-us-contentitem {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .our-services {
    height: auto;
  }

  .our-services-contains {
    flex-direction: column;
  }

  .our-services-contains-item {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .header-content {
    padding: 0 5%;
  }
}

@media screen and (max-width: 600px) {
  .form-container {
    padding: 0 5%;
  }
}

@media screen and (max-width :1000px){
  .footer{
    height: 1000px;
  }
  .footer-content {
    flex-wrap:wrap;
    gap: 1rem;
  }
  .footer-content-item{
    width: 100%;
    align-items: flex-start;
    gap: 20px;
  }
}
